<main>
    <div class="row">
        <div class="col s12">

            <div style="padding: 35px;" align="left" class="card">


                <h4>Actualizar Evento</h4>

                <div class="row">
                    <form class="" action="/evento/update" method="POST">
                        <input name="id" value="<%= element.id %>" hidden="true" required>
                        <div class="col s12 m6">
                            <label for="">nombre</label>
                            <input type="text" name="nombre" value="<%= element.nombre %>">
                        </div>


                        <div class="col s12 m6">
                            <label for="">fecha</label>
                            <input type="text" name="fecha" value="<%= element.fecha %>">
                        </div>
                        <div class="col s12 m6">
                            <label for="">observacion</label>
                            <input type="text" name="observacion" value="<%= element.observacion %>">
                        </div>
                        <div class="col s12 m6">
                            <label for="">hora</label>
                            <input type="text" name="hora" value="<%= element.hora %>">
                        </div>

                        <div class="col s12 m6">
                            <select class="browser-default" name="estado" id="selectEstado">
                                <option value="" disabled selected>Cambiar Estado</option>
                                <option value="activo">Activar Evento</option>
                                <option value="pasado">Desactivar Evento</option>
                            </select>
                        </div>
                        <button class="btn blue" type="submit">Actualizar</button>
                    </form>
                    <br />
                    <a class="waves-effect waves-light btn" href="/evento/index"><i
                        class="material-icons left">arrow_back</i>Index</a>
                </div>


            </div>

        </div>
    </div>
</main>