<h1>Show evento</h1>

	<p>
		<strong>createdAt:</strong>
		<%= element.createdAt %>
	</p>
	<p>
		<strong>updatedAt:</strong>
		<%= element.updatedAt %>
	</p>
	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>
	<p>
		<strong>fecha:</strong>
		<%= element.fecha %>
	</p>
	<p>
		<strong>estado:</strong>
		<%= element.estado %>
	</p>
	<p>
		<strong>observacion:</strong>
		<%= element.observacion %>
	</p>
	<p>
		<strong>nombre:</strong>
		<%= element.nombre %>
	</p>
	<p>
		<strong>hora:</strong>
		<%= element.hora %>
	</p>
	<p>
		<strong>latitud:</strong>
		<%= element.latitud %>
	</p>
	<p>
		<strong>longitud:</strong>
		<%= element.longitud %>
	</p>

<br>
<a href="/evento/edit/<%= element.id %>">Edit</a>
<a href="/evento/create">New</a>
<a href="/evento">Back</a>
