<h1>militante</h1>


<% if (result.length == 0) { %>
  <h4>
    0 militante
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>createdAt</th>
			<th>updatedAt</th>
			<th>id</th>
			<th>paterno</th>
			<th>materno</th>
			<th>nombre</th>
			<th>cedula</th>
			<th>celular</th>
			<th>telefono</th>
			<th>cargo</th>
			<th>asistencia</th>
			<th>institucion</th>
			<th>email</th>
			<th>direccion</th>
			<th>fechaNac</th>
			<th>remplazo</th>
			<th>ci_remplazo</th>
			<th>hora</th>
			<th>sexo</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.createdAt %>
					</td>
					<td>
						<%= item.updatedAt %>
					</td>
					<td>
						<%= item.id %>
					</td>
					<td>
						<%= item.paterno %>
					</td>
					<td>
						<%= item.materno %>
					</td>
					<td>
						<%= item.nombre %>
					</td>
					<td>
						<%= item.cedula %>
					</td>
					<td>
						<%= item.celular %>
					</td>
					<td>
						<%= item.telefono %>
					</td>
					<td>
						<%= item.cargo %>
					</td>
					<td>
						<%= item.asistencia %>
					</td>
					<td>
						<%= item.institucion %>
					</td>
					<td>
						<%= item.email %>
					</td>
					<td>
						<%= item.direccion %>
					</td>
					<td>
						<%= item.fechaNac %>
					</td>
					<td>
						<%= item.remplazo %>
					</td>
					<td>
						<%= item.ci_remplazo %>
					</td>
					<td>
						<%= item.hora %>
					</td>
					<td>
						<%= item.sexo %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/militante/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/militante/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/militante/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/militante/create">New</a>