<h1>Show militante</h1>

	<p>
		<strong>createdAt:</strong>
		<%= element.createdAt %>
	</p>
	<p>
		<strong>updatedAt:</strong>
		<%= element.updatedAt %>
	</p>
	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>
	<p>
		<strong>paterno:</strong>
		<%= element.paterno %>
	</p>
	<p>
		<strong>materno:</strong>
		<%= element.materno %>
	</p>
	<p>
		<strong>nombre:</strong>
		<%= element.nombre %>
	</p>
	<p>
		<strong>cedula:</strong>
		<%= element.cedula %>
	</p>
	<p>
		<strong>celular:</strong>
		<%= element.celular %>
	</p>
	<p>
		<strong>telefono:</strong>
		<%= element.telefono %>
	</p>
	<p>
		<strong>cargo:</strong>
		<%= element.cargo %>
	</p>
	<p>
		<strong>asistencia:</strong>
		<%= element.asistencia %>
	</p>
	<p>
		<strong>institucion:</strong>
		<%= element.institucion %>
	</p>
	<p>
		<strong>email:</strong>
		<%= element.email %>
	</p>
	<p>
		<strong>direccion:</strong>
		<%= element.direccion %>
	</p>
	<p>
		<strong>fechaNac:</strong>
		<%= element.fechaNac %>
	</p>
	<p>
		<strong>remplazo:</strong>
		<%= element.remplazo %>
	</p>
	<p>
		<strong>ci_remplazo:</strong>
		<%= element.ci_remplazo %>
	</p>
	<p>
		<strong>hora:</strong>
		<%= element.hora %>
	</p>
	<p>
		<strong>sexo:</strong>
		<%= element.sexo %>
	</p>

<br>
<a href="/militante/edit/<%= element.id %>">Edit</a>
<a href="/militante/create">New</a>
<a href="/militante">Back</a>
