<div class="">
  <h1>New personas</h1>

  <div class="body">
    <form class="" action="/personas/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">id</label>
          <input type="text" name="id" value="<%= element.id %>" required="true">
        </div>
        <div class="">
          <label for="">nombres</label>
          <input type="text" name="nombres" value="<%= element.nombres %>" required="false">
        </div>
        <div class="">
          <label for="">paterno</label>
          <input type="text" name="paterno" value="<%= element.paterno %>" required="false">
        </div>
        <div class="">
          <label for="">materno</label>
          <input type="text" name="materno" value="<%= element.materno %>" required="false">
        </div>
        <div class="">
          <label for="">ci</label>
          <input type="text" name="ci" value="<%= element.ci %>" required="false">
        </div>
        <div class="">
          <label for="">fecha_nacimiento</label>
          <input type="text" name="fecha_nacimiento" value="<%= element.fecha_nacimiento %>" required="false">
        </div>
        <div class="">
          <label for="">edad</label>
          <input type="number" name="edad" value="<%= element.edad %>" required="false">
        </div>
        <div class="">
          <label for="">edad_tipo</label>
          <input type="text" name="edad_tipo" value="<%= element.edad_tipo %>" required="false">
        </div>
        <div class="">
          <label for="">genero</label>
          <input type="text" name="genero" value="<%= element.genero %>" required="false">
        </div>
        <div class="">
          <label for="">circunscripcion</label>
          <input type="text" name="circunscripcion" value="<%= element.circunscripcion %>" required="false">
        </div>
        <div class="">
          <label for="">distrito_electoral</label>
          <input type="text" name="distrito_electoral" value="<%= element.distrito_electoral %>" required="false">
        </div>
        <div class="">
          <label for="">zona</label>
          <input type="text" name="zona" value="<%= element.zona %>" required="false">
        </div>
        <div class="">
          <label for="">recinto</label>
          <input type="text" name="recinto" value="<%= element.recinto %>" required="false">
        </div>
        <div class="">
          <label for="">mesa</label>
          <input type="text" name="mesa" value="<%= element.mesa %>" required="false">
        </div>
        <div class="">
          <label for="">celular1</label>
          <input type="text" name="celular1" value="<%= element.celular1 %>" required="false">
        </div>
        <div class="">
          <label for="">celular2</label>
          <input type="text" name="celular2" value="<%= element.celular2 %>" required="false">
        </div>
        <div class="">
          <label for="">celular3</label>
          <input type="text" name="celular3" value="<%= element.celular3 %>" required="false">
        </div>
        <div class="">
          <label for="">telefono</label>
          <input type="text" name="telefono" value="<%= element.telefono %>" required="false">
        </div>
        <div class="">
          <label for="">segip</label>
          <input type="text" name="segip" value="<%= element.segip %>" required="false">
        </div>
        <div class="">
          <label for="">direccion</label>
          <input type="text" name="direccion" value="<%= element.direccion %>" required="false">
        </div>
        <div class="">
          <label for="">delegado</label>
          <input type="number" name="delegado" value="<%= element.delegado %>" required="false">
        </div>
        <div class="">
          <label for="">institucion_listas_enviadas</label>
          <input type="text" name="institucion_listas_enviadas" value="<%= element.institucion_listas_enviadas %>" required="false">
        </div>
        <div class="">
          <label for="">institucion_min_trabajo</label>
          <input type="text" name="institucion_min_trabajo" value="<%= element.institucion_min_trabajo %>" required="false">
        </div>
        <div class="">
          <label for="">ministerio_descentralizadas</label>
          <input type="text" name="ministerio_descentralizadas" value="<%= element.ministerio_descentralizadas %>" required="false">
        </div>
        <div class="">
          <label for="">tipo_delegado</label>
          <input type="text" name="tipo_delegado" value="<%= element.tipo_delegado %>" required="false">
        </div>
        <div class="">
          <label for="">distrito_politico</label>
          <input type="text" name="distrito_politico" value="<%= element.distrito_politico %>" required="false">
        </div>
        <div class="">
          <label for="">circunscripcion_delegado</label>
          <input type="text" name="circunscripcion_delegado" value="<%= element.circunscripcion_delegado %>" required="false">
        </div>
        <div class="">
          <label for="">distrito_delegado</label>
          <input type="text" name="distrito_delegado" value="<%= element.distrito_delegado %>" required="false">
        </div>
        <div class="">
          <label for="">zona_recinto_delegado</label>
          <input type="text" name="zona_recinto_delegado" value="<%= element.zona_recinto_delegado %>" required="false">
        </div>
        <div class="">
          <label for="">recinto_delegado</label>
          <input type="text" name="recinto_delegado" value="<%= element.recinto_delegado %>" required="false">
        </div>
        <div class="">
          <label for="">mesa_delegado</label>
          <input type="text" name="mesa_delegado" value="<%= element.mesa_delegado %>" required="false">
        </div>
        <div class="">
          <label for="">corresponde_mismo_recinto</label>
          <input type="number" name="corresponde_mismo_recinto" value="<%= element.corresponde_mismo_recinto %>" required="false">
        </div>
        <div class="">
          <label for="">asistencia</label>
          <input type="text" name="asistencia" value="<%= element.asistencia %>" required="false">
        </div>
        <div class="">
          <label for="">fotografia</label>
          <input type="text" name="fotografia" value="<%= element.fotografia %>" required="false">
        </div>
        <div class="">
          <label for="">qr</label>
          <input type="text" name="qr" value="<%= element.qr %>" required="false">
        </div>
        <div class="">
          <label for="">estado</label>
          <input type="number" name="estado" value="<%= element.estado %>" required="false">
        </div>
        <div class="">
          <label for="">recogido</label>
          <input type="number" name="recogido" value="<%= element.recogido %>" required="false">
        </div>
        <div class="">
          <label for="">recojo_fecha</label>
          <input type="text" name="recojo_fecha" value="<%= element.recojo_fecha %>" required="false">
        </div>
        <div class="">
          <label for="">foto_ci</label>
          <input type="text" name="foto_ci" value="<%= element.foto_ci %>" required="false">
        </div>
        <div class="">
          <label for="">entregado_por</label>
          <input type="text" name="entregado_por" value="<%= element.entregado_por %>" required="false">
        </div>
        <div class="">
          <label for="">habilitado</label>
          <input type="number" name="habilitado" value="<%= element.habilitado %>" required="false">
        </div>
        <div class="">
          <label for="">correo</label>
          <input type="text" name="correo" value="<%= element.correo %>" required="false">
        </div>
      <button type="submit">Update personas</button>
    </form>
    <br />
    <a href="/personas">Index</a>
  </div>
</div>