<h1>Show personas</h1>

	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>
	<p>
		<strong>nombres:</strong>
		<%= element.nombres %>
	</p>
	<p>
		<strong>paterno:</strong>
		<%= element.paterno %>
	</p>
	<p>
		<strong>materno:</strong>
		<%= element.materno %>
	</p>
	<p>
		<strong>ci:</strong>
		<%= element.ci %>
	</p>
	<p>
		<strong>fecha_nacimiento:</strong>
		<%= element.fecha_nacimiento %>
	</p>
	<p>
		<strong>edad:</strong>
		<%= element.edad %>
	</p>
	<p>
		<strong>edad_tipo:</strong>
		<%= element.edad_tipo %>
	</p>
	<p>
		<strong>genero:</strong>
		<%= element.genero %>
	</p>
	<p>
		<strong>circunscripcion:</strong>
		<%= element.circunscripcion %>
	</p>
	<p>
		<strong>distrito_electoral:</strong>
		<%= element.distrito_electoral %>
	</p>
	<p>
		<strong>zona:</strong>
		<%= element.zona %>
	</p>
	<p>
		<strong>recinto:</strong>
		<%= element.recinto %>
	</p>
	<p>
		<strong>mesa:</strong>
		<%= element.mesa %>
	</p>
	<p>
		<strong>celular1:</strong>
		<%= element.celular1 %>
	</p>
	<p>
		<strong>celular2:</strong>
		<%= element.celular2 %>
	</p>
	<p>
		<strong>celular3:</strong>
		<%= element.celular3 %>
	</p>
	<p>
		<strong>telefono:</strong>
		<%= element.telefono %>
	</p>
	<p>
		<strong>segip:</strong>
		<%= element.segip %>
	</p>
	<p>
		<strong>direccion:</strong>
		<%= element.direccion %>
	</p>
	<p>
		<strong>delegado:</strong>
		<%= element.delegado %>
	</p>
	<p>
		<strong>institucion_listas_enviadas:</strong>
		<%= element.institucion_listas_enviadas %>
	</p>
	<p>
		<strong>institucion_min_trabajo:</strong>
		<%= element.institucion_min_trabajo %>
	</p>
	<p>
		<strong>ministerio_descentralizadas:</strong>
		<%= element.ministerio_descentralizadas %>
	</p>
	<p>
		<strong>tipo_delegado:</strong>
		<%= element.tipo_delegado %>
	</p>
	<p>
		<strong>distrito_politico:</strong>
		<%= element.distrito_politico %>
	</p>
	<p>
		<strong>circunscripcion_delegado:</strong>
		<%= element.circunscripcion_delegado %>
	</p>
	<p>
		<strong>distrito_delegado:</strong>
		<%= element.distrito_delegado %>
	</p>
	<p>
		<strong>zona_recinto_delegado:</strong>
		<%= element.zona_recinto_delegado %>
	</p>
	<p>
		<strong>recinto_delegado:</strong>
		<%= element.recinto_delegado %>
	</p>
	<p>
		<strong>mesa_delegado:</strong>
		<%= element.mesa_delegado %>
	</p>
	<p>
		<strong>corresponde_mismo_recinto:</strong>
		<%= element.corresponde_mismo_recinto %>
	</p>
	<p>
		<strong>asistencia:</strong>
		<%= element.asistencia %>
	</p>
	<p>
		<strong>fotografia:</strong>
		<%= element.fotografia %>
	</p>
	<p>
		<strong>qr:</strong>
		<%= element.qr %>
	</p>
	<p>
		<strong>estado:</strong>
		<%= element.estado %>
	</p>
	<p>
		<strong>recogido:</strong>
		<%= element.recogido %>
	</p>
	<p>
		<strong>recojo_fecha:</strong>
		<%= element.recojo_fecha %>
	</p>
	<p>
		<strong>foto_ci:</strong>
		<%= element.foto_ci %>
	</p>
	<p>
		<strong>entregado_por:</strong>
		<%= element.entregado_por %>
	</p>
	<p>
		<strong>habilitado:</strong>
		<%= element.habilitado %>
	</p>
	<p>
		<strong>correo:</strong>
		<%= element.correo %>
	</p>

<br>
<a href="/personas/edit/<%= element.id %>">Edit</a>
<a href="/personas/create">New</a>
<a href="/personas">Back</a>
