<h1>Show asistencia</h1>

	<p>
		<strong>createdAt:</strong>
		<%= element.createdAt %>
	</p>
	<p>
		<strong>updatedAt:</strong>
		<%= element.updatedAt %>
	</p>
	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>
	<p>
		<strong>fecha:</strong>
		<%= element.fecha %>
	</p>
	<p>
		<strong>estado:</strong>
		<%= element.estado %>
	</p>
	<p>
		<strong>hora:</strong>
		<%= element.hora %>
	</p>
	<p>
		<strong>idMilitante:</strong>
		<%= element.idMilitante %>
	</p>
	<p>
		<strong>idPersonas:</strong>
		<%= element.idPersonas %>
	</p>
	<p>
		<strong>idEvento:</strong>
		<%= element.idEvento %>
	</p>

<br>
<a href="/asistencia/edit/<%= element.id %>">Edit</a>
<a href="/asistencia/create">New</a>
<a href="/asistencia">Back</a>
