<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.33/vfs_fonts.js"></script>

<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script src="https://unpkg.com/jspdf-autotable@3.0.13/dist/jspdf.plugin.autotable.js"></script>-->
<script type="text/javascript" src="/dependencies/sails.io.js"></script>

<main>
    <div class="row">
        <div class="col s12">


            <div style="padding: 35px;"  class="card">
                <div class="row">


                    <div  class="center card-title">

                        <!-- <b>Controlar Asistencia</b><br> -->
                        <b>COORDINACIÓN PLAN DE GOBIERNO </b>
                        <% var actualEvento = eventos.filter(dato=>dato.id==idActualEvento)%>
                            <% if(idActualEvento!=0){ %>
                                <H4>
                                    <%= actualEvento[0].nombre%>
                                </H4>
                                <% }%>
                    </div>
                </div>

                <div class="row">
                    <% eventos.forEach((evento, i) => { %>
                        <%if(evento.estado=='activo'){%>
                        <div align="center" class="col s12 m6">
                            <div class="card-panel">
                                <h5 >
                                    <%=evento.nombre%>
                                </h5>

                                <h3>Asistentes </h3>
                                <h1 id="nroAsistentes<%= evento.id%>">
                                    <%=evento.nroAsistentes%>
                                </h1>
                            </div>

                        </div>
                        <%}%>

                        <!-- <div class="col s12 m6">

                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <img src="images/yuna.jpg" alt="" class="circle">
                                    <span class="title">Title</span>
                                    <p>First Line
                                        <br> Second Line
                                    </p>
                                    <a href="#!" class="secondary-content">
                                        <i class="material-icons">grade</i>
                                    </a>
                                </li>
                            </ul>
                        </div> -->
                        <% }) %>

                </div>



                <script>


                    // Use `io.socket.on()` to listen for the 'hello' event:
                    io.socket.get('/militante/asistencia', function gotResponse(data, jwRes) {
                        $('#nroAsistentes').text(data.militante);
                        console.log('Server responded with status code ' + jwRes.statusCode + ' and data: ', data);
                    });
                    io.socket.on('asistencia', function (data) {
                        console.log('Socket `' + data + '` joined the party!');
                       // $('#nroAsistentes').text(nroAsistentes ++);
                        auxEventos.forEach((elemnto,i)=>{
                            if(data.idEvento==elemnto.id){
                            auxEventos[i].nroAsistentes +=1; 
                                $('#nroAsistentes'+elemnto.id).text(auxEventos[i].nroAsistentes);
                            }
                        },this)

                    });
        // io.socket.on('hello', function (broadcastedData){
        //   console.log(data.howdy);
        //   console.log(broadcastedData)
        //   // => 'hi there!'
        // }
                </script>



                <!-- <div class="row">
                    <form method="POST" id='formNuevo' action="/militante/nuevo" class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">card_membership</i>
                                <input id="inputCedula" type="text" name="cedula" required class="validate">
                                <label for="inputCedula">Cedula</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="inputNombre" type="text" name="nombre" required class="validate">
                                <label for="inputNombre">Nombre</label>
                            </div>

                            <div class="input-field col s6">
                                <i class="material-icons prefix">phone</i>
                                <input id="inputCelular" type="number" name="celular" class="validate">
                                <label for="inputCelular">Celular</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">work</i>
                                <input id="inputCargo" type="text" name="cargo">
                                <label for="inputCargo">Cargo</label>

                            </div>

                            <div class="input-field col s6">
                                <i class="material-icons prefix">location_on</i>
                                <input id="inputDireccion" type="tel" name="direccion" class="validate">
                                <label for="inputDireccion">Dirección</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">date_range</i>
                                <input id="inputFechaNac" type="date" name="fechaNac" class="datepicker">
                            </div>

                            <div class="input-field col s6">
                                <i class="material-icons prefix">email</i>
                                <input id="inputEmail" type="email" name="email" class="validate">
                            </div>
                            <div class="input-field col s6">

                                <select class="browser-default" id="inputSexo" name="inputSexo">
                                    <option value="" selected> Selecionar Genero</option>
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                    <option value="O">Otro</option>
                                </select>
                            </div>

                            <div class="input-field col s6">
                                <i class="material-icons prefix">location_city</i>
                                <select class="browser-default" id="inputInstitucion" name="institucion">
                                    <option value="" selected>Seleccionar DISTRITO</option>
                                    <option value="DISTRITO_4">DISTRITO 4</option>
                                    <option value="DISTRITO_5">DISTRITO 5</option>
                                    <option value="DISTRITO_6">DISTRITO 6</option>
                                    <option value="DISTRITO_7">DISTRITO 7</option>
                                    <option value="DISTRITO_8">DISTRITO 8</option>
                                    <option value="REGIONAL_MAS">REGIONAL MAS</option>
                                    <option value="CAMARA_DIPUTADOS">CAMARA DE DIPUTADOS</option>
                                    <option value="CONCEJAL">CONCEJALES</option>
                                    <option value="OTRO">OTROS</option>
                                    <option value="DISTRITO_1">DISTRITO 1</option>
                                    <option value="DISTRITO_2">DISTRITO 2</option>
                                    <option value="DISTRITO_3">DISTRITO 3</option>
                                    <option value="DISTRITO_9">DISTRITO 9</option>
                                    <option value="DISTRITO_10">DISTRITO 10</option>
                                    <option value="DISTRITO_11">DISTRITO 11</option>
                                    <option value="DISTRITO_12">DISTRITO 12</option>
                                    <option value="DISTRITO_13">DISTRITO 13</option>
                                    <option value="DISTRITO_14">DISTRITO 14</option>
                                    <option value="DISTRITO_15">DISTRITO 15</option>
                                    <option value="DISTRITO_16">DISTRITO 16</option>
                                    <option value="DISTRITO_17">DISTRITO 17</option>
                                    <option value="DISTRITO_18">DISTRITO 18</option>
                                    <option value="DISTRITO_19">DISTRITO 19</option>
                                    <option value="DISTRITO_20">DISTRITO 20</option>
                                    <option value="DISTRITO_21">DISTRITO 21</option>
                                    <option value="DISTRITO_22">DISTRITO 22</option>
                                    <option value="DISTRITO_23">DISTRITO 23</option>
                                    <option value="DISTRITO_24">DISTRITO 24</option>
                                    <option value="DISTRITO_25">DISTRITO 25</option>
                                    <option value="DISTRITO_26">DISTRITO 26</option>
                                    <option value="DISTRITO_27">DISTRITO 27</option>
                                    <option value="DISTRITO_28">DISTRITO 28</option>
                                    <option value="DISTRITO_29">DISTRITO 29</option>
                                    <option value="DISTRITO_30">DISTRITO 30</option>


                                </select>
                           
                            </div>
         
                        </div>
                        <input class="btn" id='btnAdicionar' type="submit" value="ADICIONAR">
                    </form>
                    <a class="btn red" hidden id="btnEncontrado">ACTUALIZAR</a>
                </div> -->

            </div>
        </div>


    </div>


</main>



<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Actualizar Información</h4>

        <div class="row">
            <form id="formActualizar" class="col s12">
                <input id="inputId2" type="number" name="id" hidden=true class="validate">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="inputNombre2" type="text" name="nombre" class="validate">
                        <label for="inputNombre2">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">card_membership</i>
                        <input id="inputCedula2" type="tel" name="cedula" class="validate">
                        <label for="inputCedula2">Cedula</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        <input id="inputCelular2" type="number" name="celular" class="validate">
                        <label for="inputCelular2">Celular</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">location_on</i>
                        <input id="inputDireccion2" type="tel" name="direccion" class="validate">
                        <label for="inputDireccion2">Dirección</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">date_range</i>
                        <input id="inputFechaNac2" type="date" name="fechaNac" class="datepicker">
                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">email</i>
                        <input id="inputEmail2" type="email" name="email" class="validate">
                    </div>
                    <div class="input-field col s6">
                        <!-- <i class="material-icons prefix">people</i> -->

                        <select class="browser-default" id="inputSexo2" name="inputSexo">
                            <option value="" selected> Selecionar Genero</option>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                            <option value="O">Otro</option>
                        </select>
                        <!-- <label>Seleccionar Genero</label> -->
                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">location_city</i>
                        <input id="inputInstitucion2" type="text" name="institucion">
                        <label for="inputInstitucion2">Institución</label>

                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">work</i>
                        <input id="inputCargo2" type="text" name="cargo">
                        <label for="inputCargo2">Cargo</label>

                    </div>
                    <div class="input-field col s8">
                        <i class="material-icons prefix">person_add</i>
                        <input id="inputRem2" type="text" name="remplazo" class="validate">
                        <label for="inputRem2">Remplazo</label>
                    </div>
                    <div class="input-field col s4">
                        <i class="material-icons prefix">card_membership</i>
                        <input id="inputCedulaRem2" type="text" name="ci_remplazo" class="validate">
                        <label for="inputCedulaRem2">Cedula remplazo</label>
                    </div>
                </div>

                <!-- <input type="submit" value="Actualizar"> -->
                <button id="btnActualizar" class="btn waves-effect waves-light" type="button">Actualizar
                    <i class="material-icons right">send</i>
                </button>

                <button id="btnImprimir" class="btn waves-effect red darken-1" type="button">Imprimir
                    <i class="material-icons right">local_printshop</i>
                </button>
            </form>
        </div>
    </div>
    <div class="modal-footer">

        <div id="carga" class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>
<!-- <div id="modal2" class="modal">
    <div class="modal-content">
        <h4>Nuevo Invitado Militante</h4>

        <div class="row">
            <form method="POST" action="/militante/nuevo" class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="inputNombre" type="text" name="nombre" class="validate">
                        <label for="inputNombre">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">work</i>
                        <input id="inputCargo" type="text" name="cargo">
                        <label for="inputCargo">Cargo</label>

                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">card_membership</i>
                        <input id="inputCedula" type="tel" name="cedula" class="validate">
                        <label for="inputCedula">Cedula</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        <input id="inputCelular" type="number" name="celular" class="validate">
                        <label for="inputCelular">Celular</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">location_on</i>
                        <input id="inputDireccion" type="tel" name="direccion" class="validate">
                        <label for="inputDireccion">Dirección</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">date_range</i>
                        <input id="inputFechaNac" type="date" name="fechaNac" class="datepicker">
                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">email</i>
                        <input id="inputEmail" type="email" name="email" class="validate">
                        <label for="inputEmail">Email</label>

                    </div>
                    <div class="input-field col s6">

                        <select class="browser-default" id="inputSexo" name="inputSexo">
                            <option value="" selected> Selecionar Genero</option>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                            <option value="O">Otro</option>
                        </select>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">location_city</i>
                        <input id="inputInstitucion" type="text" name="institucion">
                        <label for="inputInstitucion">Institución</label>

                    </div>


                </div>

                <button id="btnActualizar" class="btn waves-effect waves-light" type="submit">Crear
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
    <div class="modal-footer">

        <div id="carga" class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div> -->
<script type="text/javascript" src="/js/imprimir.js"></script>
<!-- <script>
    $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrainWidth: false, // Does not change width of dropdown to that of the activator
        hover: true, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: false, // Displays dropdown below the button
        alignment: 'left', // Displays dropdown with edge aligned to the left of button
        stopPropagation: false // Stops event propagation
    }
    );

    $('#carga').hide();
    $('#btnEncontrado').hide();
    $('.button-collapse').sideNav();

    $('.collapsible').collapsible();

    $('select').material_select();
    //$('select').formSelect();

    // $('.datepicker').datepicker();

    var auxMilitantes = <%- JSON.stringify(militantes) %>;
    var idEventoActual = <%- idActualEvento %>;
    var auxEventos = <%- JSON.stringify(eventos) %>;



    // var votosTrue = auxMilitantes.filter(auxVoto => auxVoto.voto == true);
    // var auxAsistencias = votosTrue.length;
var llegadasMilitante = [];
function llegadaMilitante(militante){

    // <div class="input-field col s12">
    //         <i class="material-icons prefix">search</i>
    //         <input type="text" id="inputBuscar" class="autocomplete">
    //         <label for="inputBuscar">Buscar a militante</label>
    //     </div>
}

    function actualizarTabla(listaMilitantes) {
        $('#tablaMilitantes > tbody').empty()
        listaMilitantes.forEach(function (militante, index) {
            $('#tablaMilitantes > tbody').append('<tr id="tr' + militante.id + '">' +
                '<td>' + (index + 1) + '</td>' +
                '<td>' + militante.nombre + '</td>' +
                '<td>' + militante.cargo + '</td>' +
                '<td>' + militante.cedula + '</td>' +
                '<td>' + militante.celular + '</td>' +
                '<td>' + '<div class="switch"><label>NO<input id="voto' + militante.id + '" type="checkbox"><span class="lever"></span>SI</label></div>' + '</td>' +
                '<td>' + '<button class="waves-effect waves-light btn" onclick="actualizarMilitante(' + militante.id + ')" type="button"><i class="material-icons">edit</i></button>' + '</td>' +
                '</tr>')
            $('#voto' + militante.id).attr('checked', militante.asistencia)
            $('#voto' + militante.id).click(function () {
                console.log($('#voto' + militante.id).prop('checked'))
                $.ajax({
                    type: "PATCH",
                    url: "/militante/" + militante.id,
                    data: {
                        asistencia: $('#voto' + militante.id).prop('checked'),
                        hora: new Date().toTimeString()
                    },
                    dataType: "json",
                    success: function (response) {
                        //if request if made successfully then the response represent the data
                        console.log(response);
                        // auxMilitantes

                        $('.modal').closeModal();
                        $('#carga').hide()
                    }
                });


            })
        }, this);
    }

    function actualizarMilitante(idMilitante) {
        console.log(idMilitante)

        var militante = auxMilitantes.filter(dato => dato.id == idMilitante)
        var linea = $('#tr' + idMilitante).find('td')

        $('#inputId2').val(idMilitante)
        var auxFecha = new Date(militante[0].fechaNac)


        var dia = parseInt(auxFecha.getDate()) + 1;
        var mes = parseInt(auxFecha.getMonth()) + 1;

        console.log('Console Log:', militante)

        if (dia < 10) {
            dia = '0' + dia;
        }
        if (mes < 10) {
            mes = '0' + mes;
        }
        $('#inputNombre2').val(militante[0].nombre)
        $('#inputInstitucion2').val(militante[0].institucion)
        $('#inputCargo2').val(militante[0].cargo)
        $('#inputCedula2').val(militante[0].cedula)
        $('#inputCelular2').val(militante[0].celular)
        $('#inputDireccion2').val(militante[0].direccion)
        $('#inputSexo2').val(militante[0].sexo)
        $('#inputEmail2').val(militante[0].email)
        //$("#inputSexo option[value='O']").attr('selected', 'selected');

        // $('#inputSexo option[value='+militante[0].sexo+']').prop('selected','selected');

        //$('#inputSexo option:contains(' + militante[0].sexo + ')').prop({selected: true});
        $('#inputFechaNac2').val(auxFecha.getFullYear() + '-' + mes + '-' + dia)
        console.log('FECHA:', auxFecha.getFullYear() + '-' + auxFecha.getMonth() + '-' + auxFecha.getDate())

        $('#inputRem2').val(militante[0].remplazo)
        $('#inputCedulaRem2').val(militante[0].ci_remplazo)
        $('#modal1').openModal();
    };
    var idMilitante = 0;
    $('#inputCedula').keyup(function (params) {
        var auxBuscar = $('#inputCedula').val()

        console.log('AUXBUSCAR:', auxBuscar)
        // $.post("/controlador/buscarMilitante", { nombre: auxBuscar })
        // .done(function( data ) {
        //     console.log(data)
        // });
        if (auxBuscar.length != 0) {

            if (auxBuscar.length > 5) {

                $.ajax({
                    type: "POST",
                    url: "/controlador/buscarMilitante",
                    data: {
                        nombre: auxBuscar
                    },
                    dataType: "json",
                    success: function (militante) {
                        if (militante.length > 0) {
                            //if request if made successfully then the response represent the data
                            $('#inputNombre').val(militante[0].nombre)
                            $('#inputInstitucion').val(militante[0].institucion)
                            $('#inputCargo').val(militante[0].cargo)
                            // $('#inputCedula').val(militante[0].cedula)
                            $('#inputCelular').val(militante[0].celular)
                            $('#inputDireccion').val(militante[0].direccion)
                            $('#inputSexo').val(militante[0].sexo)
                            $('#inputEmail').val(militante[0].email)
                            //$("#inputSexo option[value='O']").attr('selected', 'selected');

                            // $('#inputSexo option[value='+militante[0].sexo+']').prop('selected','selected');

                            //$('#inputSexo option:contains(' + militante[0].sexo + ')').prop({selected: true});
                            // $('#inputFechaNac').val(auxFecha.getFullYear() + '-' + mes + '-' + dia)
                            console.log('MILITANTE ENCONTRADO')
                            idMilitante = militante[0].id;
                            $('#inputRem').val(militante[0].remplazo)
                            $('#inputCedulaRem').val(militante[0].ci_remplazo)
                            // $('#btnAdicionar').hide();
                            $('#btnEncontrado').show();
                        } else {
                            $('#inputNombre').val('')
                            $('#inputInstitucion').val('')
                            $('#inputCargo').val('')
                            // $('#inputCedula').val(militante[0].cedula)
                            $('#inputCelular').val('')
                            $('#inputDireccion').val('')
                            $('#inputSexo').val('')
                            $('#inputEmail').val('')
                            //$("#inputSexo option[value='O']").attr('selected', 'selected');

                            // $('#inputSexo option[value='+militante[0].sexo+']').prop('selected','selected');

                            //$('#inputSexo option:contains(' + militante[0].sexo + ')').prop({selected: true});
                            $('#inputFechaNac').val('')

                        }

                    }
                });
            }
        } else {
            $('#inputNombre').val('')
            $('#inputInstitucion').val('')
            $('#inputCargo').val('')
            // $('#inputCedula').val(militante[0].cedula)
            $('#inputCelular').val('')
            $('#inputDireccion').val('')
            $('#inputSexo').val('')
            $('#inputEmail').val('')
            //$("#inputSexo option[value='O']").attr('selected', 'selected');

            // $('#inputSexo option[value='+militante[0].sexo+']').prop('selected','selected');

            //$('#inputSexo option:contains(' + militante[0].sexo + ')').prop({selected: true});
            $('#inputFechaNac').val('')
            //   $('#btnAdicionar').show();
            $('#btnEncontrado').hide();

        }
    })

    $('#btnAddMilitante').click(function (params) {
        $('#modal2').openModal();

    })

    actualizarTabla(auxMilitantes);
    $('#inputBuscar').keyup(function (event) {
        var auxBuscar = $('#inputBuscar').val()

        console.log('AUXBUSCAR:', auxBuscar)
        // $.post("/controlador/buscarMilitante", { nombre: auxBuscar })
        // .done(function( data ) {
        //     console.log(data)
        // });
        if (auxBuscar.length != 0) {

            if (auxBuscar.length > 3) {

                $.ajax({
                    type: "POST",
                    url: "/controlador/buscarMilitante",
                    data: {
                        nombre: auxBuscar
                    },
                    dataType: "json",
                    success: function (response) {
                        //if request if made successfully then the response represent the data
                        console.log(response)
                        actualizarTabla(response)
                        auxMilitantes = response;
                    }
                });
            }
        } else {
            actualizarTabla([])
        }


    })

    $('#btnEncontrado').click(function () {
        $('#carga').show()
        var form = $('#formNuevo').serialize()

        if (idMilitante != 0) {

            form += '&sexo=' + $('#inputSexo').val();
            form += '&asistencia=true'
            console.log(form)
            $.ajax({
                type: "PATCH",
                url: "/militante/" + idMilitante,
                data: form,
                dataType: "json",
                success: function (response) {
                    //if request if made successfully then the response represent the data
                    // console.log(response);
                    // auxMilitantes
                    location.reload();

                }
            });
        }

    })


    $('#btnActualizar').click(function () {
        $('#carga').show()
        var form = $('#formActualizar').serialize()
        var id = $('#formActualizar').serializeArray()

        form += '&sexo=' + $('#inputSexo').val();
        console.log(form)
        $.ajax({
            type: "PATCH",
            url: "/militante/" + id[0].value,
            data: form,
            dataType: "json",
            success: function (response) {
                //if request if made successfully then the response represent the data
                // console.log(response);
                // auxMilitantes
                location.reload();

                $('.modal').closeModal();
                $('#carga').hide()
            }
        });

    })

    $('#btnImprimir').click(function () {

        // create the window before the callback
        // var win = window.open('', '_blank');
        // pdfMake.createPdf(dd).open({}, win);
        var doc = new jsPDF();

        doc.addImage(imgData, 'JPEG', 10, 10, 85, 125);
        // doc.addImage(imgData, 'JPEG', 110, 10, 85, 125);
        // doc.addImage(imgData, 'JPEG', 10, 155, 85, 125);
        // doc.addImage(imgData, 'JPEG', 110, 155, 85, 125);

        var auxnombre = $('#inputNombre').val().split(' ');
        var nuevoNombre = '';
        if ($('#inputRem').val().length > 0) {
            nuevoNombre = $('#inputRem').val()
        } else if (auxnombre.length == 4) {
            nuevoNombre = auxnombre[0] + ' ' + auxnombre[1] + '\n' + auxnombre[2] + ' ' + auxnombre[3]
        } else if (auxnombre.length == 5) {
            nuevoNombre = auxnombre[0] + ' ' + auxnombre[1] + ' ' + auxnombre[2] + '\n' + auxnombre[3] + auxnombre[4]
        } else {
            nuevoNombre = $('#inputNombre').val();
        }

        var auxCargo = $('#inputCargo').val().split(' ');
        var nuevoCargo = '';
        if ($('#inputRem').val().length > 0) {
            nuevoCargo = 'REMPLAZO'
        } else if (auxCargo.length == 4) {
            nuevoCargo = auxCargo[0] + ' ' + auxCargo[1] + '\n' + auxCargo[2] + ' ' + auxCargo[3]
        } else if (auxCargo.length == 5) {
            nuevoCargo = auxCargo[0] + ' ' + auxCargo[1] + ' ' + auxCargo[2] + '\n' + auxCargo[3] + auxCargo[4]
        } else if (auxCargo.length > 4) {
            for (let index = 0; index < auxCargo.length; index++) {
                console.log('CARGO:', auxCargo.length / 2)
                if (auxCargo.length / 2 == index) {
                    nuevoCargo += '\n';
                }
                nuevoCargo += auxCargo[index] + ' '
            }
        } else {
            nuevoCargo = $('#inputCargo').val();
        }
        var part = [{
            nombre: nuevoNombre.toUpperCase(),
            cargo: nuevoCargo,
            categoria: $('#inputInstitucion').val().toUpperCase()
        }]
        // { nombre: 'RICARDO OSO', categoria: 'CAT 2' },
        // { nombre: 'CARLOS TORREZ', categoria: 'CAT 3' },
        // { nombre: 'JOSE LOPEZ', categoria: 'CAT 4' }];


        // doc.setFontType("");
        doc.setFont('arial', 'black')
        doc.setLineHeightFactor(1.15)
        doc.setFontSize(14);
        doc.setTextColor(255, 255, 255)
        doc.text(part[0].nombre, 50, 88, {
            align: 'center'
        });
        doc.setFontSize(11);
        doc.setTextColor(133, 133, 133)
        doc.text(part[0].cargo, 50, 98, {
            align: 'center'
        });
        doc.setTextColor(255, 255, 255)
        doc.setFontSize(8);
        doc.text(part[0].categoria, 21, 110);

        // doc.setFontSize(15);
        // doc.setTextColor(255, 255, 255)
        // doc.text(part[1].nombre, 120, 90);
        // doc.setFontSize(8);
        // doc.text(part[1].categoria, 121, 110);

        // doc.setFontSize(15);
        // doc.setTextColor(255, 255, 255)
        // doc.text(part[2].nombre, 20, 235);
        // doc.setFontSize(8);
        // doc.text(part[2].categoria, 21, 255);

        // doc.setFontSize(15);
        // doc.setTextColor(255, 255, 255)
        // doc.text(part[3].nombre, 120, 235);
        // doc.setFontSize(8);
        // doc.text(part[3].categoria, 121, 255);
        // doc.save('a4.pdf')
        // doc.output('datauri');
        window.open(URL.createObjectURL(doc.output("blob")))



    })

    $('#btnReporte').click(function () {
        var doc = new jsPDF();
        // You can use html:
        //doc.autoTable({html: '#my-table'});
        // doc.setFontType("normal");
        doc.setFontSize(14);
        //doc.text("ASISTENCIAS", 35, 25);
        doc.text(7, 10, "ASISTENCIAS");

        // Or JavaScript:
        var listaAsistentesImprimir = [];
        var listaFaltantesImprimir = [];

        auxMilitantes.forEach(function (dato) {

            if (dato.asistencia == true) {
                var vector = [dato.nombre, dato.cargo, dato.institucion, dato.cedula, dato.celular, dato.hora.split(' ')[0]]
                listaAsistentesImprimir.push(vector);
            }
        }, this)


        console.log('ASISTENTES', listaAsistentesImprimir)

        doc.autoTable({
            head: [
                ['Nombre', 'Cargo', 'Institución', 'Cedula', 'Celular', 'Hora']
            ],
            body: listaAsistentesImprimir,
            columnStyles: {
                0: {
                    columnWidth: 45
                },
                1: {
                    columnWidth: 35
                },
                2: {
                    columnWidth: 45
                },
                3: {
                    columnWidth: 20
                },
                4: {
                    columnWidth: 15
                },
                5: {
                    columnWidth: 20
                },

                // etc
            },
        });

        //doc.save('table.pdf');
        window.open(URL.createObjectURL(doc.output("blob")))

    });


    $('#btnReporteExcel').click(function () {

        var actualEvento = auxEventos.filter(dato => dato.id == idEventoActual)

        $.ajax({
            type: "POST",
            url: "/asistencia/reporte_excel",
            data: {
                nombreEvento: actualEvento[0].nombre,
                idEvento: idEventoActual

            },
            dataType: "json",
            success: function (data, status, xhr) {

                window.URL.revokeObjectURL(url);

            }
        });
    });

    $('#btnReporteF').click(function () {
        var doc = new jsPDF();
        // You can use html:
        //doc.autoTable({html: '#my-table'});
        //doc.setFontType("normal");
        doc.setFontSize(14);
        doc.text(7, 10, "FALTANTES");
        // Or JavaScript:
        var listaAsistentesImprimir = [];
        var listaFaltantesImprimir = [];

        auxMilitantes.forEach(function (dato) {

            if (dato.asistencia != true) {
                var vector = [dato.nombre, dato.remplazo, dato.cargo, dato.institucion, dato.cedula, dato.celular]
                listaFaltantesImprimir.push(vector);
            }
        }, this)


        console.log('FALTAS', listaFaltantesImprimir)

        doc.autoTable({
            head: [
                ['Nombre', 'Remplazo', 'Cargo', 'Institución', 'Cedula', 'Celular']
            ],
            body: listaFaltantesImprimir,
            columnStyles: {
                0: {
                    columnWidth: 50
                },
                1: {
                    columnWidth: 40
                },
                2: {
                    columnWidth: 40
                },
                3: {
                    columnWidth: 50
                },
                4: {
                    columnWidth: 20
                },


                // etc
            },
            theme: 'grid'
        });
        window.open(URL.createObjectURL(doc.output("blob")))

        //doc.save('table.pdf');
    });
</script> -->



<!--  
<script type="text/javascript">
    io.socket.on('militante', function osoSubscribe(data) {
        var auxMilitante = data.data;
        console.log('MILITANTE ALERTA:', data)
        auxMilitantes = auxMilitantes.map(obj => {
            if (obj.id == auxMilitante.id) {
                obj = Object.assign({}, obj, auxMilitante)
            }
            return obj
        })
        actualizarTabla(auxMilitantes)
    });
    // $('btnPrueba').click(function () {
    io.socket.get('/militante', function osoRespuesta(body, response) {
        console.log('ACTUAL Militante', body);
    });
    // })
</script> -->