<main>
	<div class="row">
		<div class="col s12">

<% if(idActualEvento != 0){%>

	<div style="padding: 35px;" class="card">
		<div class="row">


			<div class="center card-title">

				<!-- <b>Controlar Asistencia</b><br> -->
				<b>COORDINACIÓN PLAN DE GOBIERNO </b>
				<% var actualEvento = eventos.filter(data => data.id==idActualEvento) %>
				<h3> <%= actualEvento[0].nombre%> </h3>
			</div>
		</div>
		<div class="row">
			<div class="col s12">

				<div class="card-panel center">
					<span class="card-title">Asistencia Manual a Militantes</span>
					<div class="row">
						<div class="input-field col s12 m4">

							<input type="text" id="inputBuscarCi" class="autocomplete">
							<label for="inputBuscarCi">Nro Documento</label>
						</div>
						<div class="input-field col s12 m4">
							<button class="btn red" id="btnBuscarCi"><i class="material-icons left">search</i>
								Buscar</button>
						</div>
					</div>


					<table class="striped" id="tablaMilitantes">
						<thead>
							<tr>
								<th>Nro</th>
								<th>Nombre</th>
								<th>Cargo</th>
								<th>Cedula</th>
								<th>Celular</th>
								<th>Asistencia</th>
							</tr>
						</thead>

						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="loader">

			<div class="progress purple accent-1">
				<div class="indeterminate purple"></div>
			</div>
		</div>
		<!-- <div class="row">
				<div class="col s12 m6">
					<ul class="collection">
						<li class="collection-item avatar">
							<img src="images/yuna.jpg" alt="" class="circle">
							<span class="title">Title</span>
							<p>First Line
								<br> Second Line
							</p>
							<a href="#!" class="secondary-content">
								<i class="material-icons">grade</i>
							</a>
						</li>
					</ul>
				</div>

						</div> -->

		<div class="center">

			<!-- <b>Controlar Asistencia</b><br> -->
			<b>ADICIONAR PERSONA AL EVENTO - NO EN LISTA DE MILITANCIA</b>

		</div>
		<div class="row">
			<form method="POST" id='formNuevo' action="/militante/nuevoNoMilitante" class="col s12">
				<div class="row">
					<div class="input-field col s3">
						<i class="material-icons prefix">card_membership</i>
						<input id="inputCedula" type="text" name="ci" required class="validate">
						<label for="inputCedula">Cedula</label>
					</div>
					<div class="input-field col s3">
						<i class="material-icons prefix">account_circle</i>
						<input id="inputPaterno" type="text" name="paterno" required class="validate">
						<label for="inputPaterno">Paterno</label>
					</div>
					<div class="input-field col s3">
							<i class="material-icons prefix">account_circle</i>
							<input id="inputMaterno" type="text" name="materno" class="validate">
							<label for="inputMaterno">Materno</label>
						</div>
						<div class="input-field col s3">
								<i class="material-icons prefix">account_circle</i>
								<input id="inputNombre" type="text" name="nombres" required class="validate">
								<label for="inputNombre">Nombre</label>
							</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">phone</i>
						<input id="inputCelular" type="number" name="celular1" class="validate">
						<label for="inputCelular">Celular</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">work</i>
						<input id="inputCargo" type="text" name="cargo">
						<div id="chipNuevoCargo" class="chip z-depth-2 blue-grey darken-4 white-text">NUEVO</div>
						<label for="inputCargo">Cargo </label>
						<div id="buscarCargo">
							<table class="striped" id="tablaCargos">
								<tbody>
								</tbody>
							</table>
						</div>
					</div>

					<input id="inputIdCargo" type="number" name="idCargo" value="999" hidden>
					<input id="inputIdInstitucion" type="number" name="idInstitucion" value="999" hidden>



					<!-- <div class="input-field col s6">
						<i class="material-icons prefix">textsms</i>
						<input type="text" id="autocomplete-input" class="autocomplete">
						<label for="autocomplete-input">Cargo</label>
					</div> -->


					<div class="input-field col s6">
						<i class="material-icons prefix">location_on</i>
						<input id="inputDireccion" type="tel" name="direccion" class="validate">
						<label for="inputDireccion">Dirección</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">date_range</i>
						<input id="inputfecha_nacimiento" type="date" name="fecha_nacimiento" class="datepicker">
					</div>

					<div class="input-field col s6">
						<i class="material-icons prefix">email</i>
						<input id="inputEmail" type="email" name="email" class="validate">
					</div>
					<div class="input-field col s6">
						<!-- <i class="material-icons prefix">people</i> -->

						<select class="browser-default" id="inputSexo" name="inputSexo">
							<option value="" selected> Selecionar Genero</option>
							<option value="M">Masculino</option>
							<option value="F">Femenino</option>
							<option value="O">Otro</option>
						</select>
						<!-- <label>Seleccionar Genero</label> -->
					</div>
					<div class="input-field col s6">
							<i class="material-icons prefix">home</i>
							<input id="inputInstitucion" type="text" name="institucion">
							<div id="chipNuevoInstitucion" class="chip z-depth-2 blue-grey darken-4 white-text">NUEVO</div>
							<label for="inputInstitucion">Institución</label>

							<div id="buscarIntitucion">
								<table class="striped" id="tablaInstitucion">
				
									<tbody>
									</tbody>
								</table>
							</div>
					</div>

						<input id="" type="number" name="idEvento" value=<%=idActualEvento%> hidden>

				</div>

				<!-- <input type="submit" value="Actualizar"> -->
				<input class="btn" id='btnAdicionar' type="submit" value="ADICIONAR">

				<!-- <button id="btnImprimir" class="btn waves-effect red darken-1" type="button">Imprimir
					<i class="material-icons right">local_printshop</i>
				</button> -->
			</form>
			<a class="btn red" hidden id="btnEncontrado">ACTUALIZAR</a>
		</div>

	</div>
	<%}else{%>

		<div class="row center">
			<div class="col s12 m6">
			<div class="card-panel">
						
				<h4>Evento a Controlar</h4>
				<div class="collection">
					<% eventos.forEach((evento, i)=>{ %>
					<a href="/controla/evento/<%=evento.id%>" class="collection-item black-text"><%= evento.nombre%> <i class="material-icons left">event</i></a>
					<% }) %>
				</div>
			</div>
			</div>
		</div>
		<%}%>
		</div>


	</div>


</main>



<!-- Modal Structure -->
<div id="modal1" class="modal">
	<div class="modal-content">
		<h4>Actualizar Información</h4>

		<div class="row">
			<form id="formActualizar" class="col s12">
				<input id="inputId2" type="number" name="id" hidden=true class="validate">
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">account_circle</i>
						<input id="inputNombre2" type="text" name="nombre" class="validate">
						<label for="inputNombre2">Nombre</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">card_membership</i>
						<input id="inputCedula2" type="tel" name="cedula" class="validate">
						<label for="inputCedula2">Cedula</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">phone</i>
						<input id="inputCelular2" type="number" name="celular" class="validate">
						<label for="inputCelular2">Celular</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">location_on</i>
						<input id="inputDireccion2" type="tel" name="direccion" class="validate">
						<label for="inputDireccion2">Dirección</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">date_range</i>
						<input id="inputfecha_nacimiento2" type="date" name="fecha_nacimiento" class="datepicker">
					</div>

					<div class="input-field col s6">
						<i class="material-icons prefix">email</i>
						<input id="inputEmail2" type="email" name="email" class="validate">
					</div>
					<div class="input-field col s6">
						<!-- <i class="material-icons prefix">people</i> -->

						<select class="browser-default" id="inputSexo2" name="inputSexo">
							<option value="" selected> Selecionar Genero</option>
							<option value="M">Masculino</option>
							<option value="F">Femenino</option>
							<option value="O">Otro</option>
						</select>
						<!-- <label>Seleccionar Genero</label> -->
					</div>

					<div class="input-field col s6">
						<i class="material-icons prefix">location_city</i>
						<input id="inputInstitucion2" type="text" name="institucion">
						<label for="inputInstitucion2">Institución</label>

					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">work</i>
						<input id="inputCargo2" type="text" name="cargo">
						<label for="inputCargo2">Cargo</label>

					</div>
					<div class="input-field col s8">
						<i class="material-icons prefix">person_add</i>
						<input id="inputRem2" type="text" name="remplazo" class="validate">
						<label for="inputRem2">Remplazo</label>
					</div>
					<div class="input-field col s4">
						<i class="material-icons prefix">card_membership</i>
						<input id="inputCedulaRem2" type="text" name="ci_remplazo" class="validate">
						<label for="inputCedulaRem2">Cedula remplazo</label>
					</div>
				</div>

				<!-- <input type="submit" value="Actualizar"> -->
				<button id="btnActualizar" class="btn waves-effect waves-light" type="button">Actualizar
					<i class="material-icons right">send</i>
				</button>

				<button id="btnImprimir" class="btn waves-effect red darken-1" type="button">Imprimir
					<i class="material-icons right">local_printshop</i>
				</button>
			</form>
		</div>
	</div>

	<div class="modal-footer">

	</div>
</div>

<script>

	$('#chipNuevoCargo').hide()
	$('#chipNuevoInstitucion').hide()

	$('#loader').hide();
	$('#tablaMilitantes').hide();
	$('#tablaCargos').hide();
	$('.dropdown-button').dropdown({
		inDuration: 300,
		outDuration: 225,
		constrainWidth: false, // Does not change width of dropdown to that of the activator
		hover: true, // Activate on hover
		gutter: 0, // Spacing from edge
		belowOrigin: false, // Displays dropdown below the button
		alignment: 'left', // Displays dropdown with edge aligned to the left of button
		stopPropagation: false // Stops event propagation
	}
	);

	$('#carga').hide();
	$('#btnEncontrado').hide();
	$('.button-collapse').sideNav();

	$('.collapsible').collapsible();

	$('select').material_select();
	//$('select').formSelect();

	// $('.datepicker').datepicker();

	var auxMilitantes = <%- JSON.stringify(militantes) %>;
	var idEventoActual = <%- idActualEvento %>;
	var auxEventos = <%- JSON.stringify(eventos) %>;



	// var votosTrue = auxMilitantes.filter(auxVoto => auxVoto.voto == true);
	// var auxAsistencias = votosTrue.length;
	var llegadasMilitante = [];
	function llegadaMilitante(militante) {

		// <div class="input-field col s12">
		//         <i class="material-icons prefix">search</i>
		//         <input type="text" id="inputBuscar" class="autocomplete">
		//         <label for="inputBuscar">Buscar a militante</label>
		//     </div>
	}

	function actualizarTabla(listaMilitantes) {
		$('#tablaMilitantes').show();

		$('#tablaMilitantes > tbody').empty()
		listaMilitantes.forEach(function (militante, index) {
			$('#tablaMilitantes > tbody').append('<tr id="tr' + militante.id + '">' +
				'<td>' + (index + 1) + '</td>' +
				'<td>' + militante.paterno +' '+ militante.materno +' '+ militante.nombres + '</td>' +
				'<td>' + militante.cargo + '</td>' +
				'<td>' + militante.ci + '</td>' +
				'<td>' + militante.celular1 + '</td>' +
				'<td>' + '<div class="switch"><label>NO<input id="voto' + militante.id + '" type="checkbox"><span class="lever"></span>SI</label></div>' + '</td>' +
				// '<td>' + '<button class="waves-effect waves-light btn" onclick="actualizarMilitante(' + militante.id + ')" type="button"><i class="material-icons">edit</i></button>' + '</td>' +
				'</tr>')

			if (militante.asistencia.length > 0) {
				$('#voto' + militante.id).attr('checked', true)
			} else {
				$('#voto' + militante.id).attr('checked', false)
			}
			$('#voto' + militante.id).click(function () {
				console.log($('#voto' + militante.id).prop('checked'))
				if ($('#voto' + militante.id).prop('checked')) {
					$('#loader').show();
					$.ajax({
						type: "POST",
						url: "/asistencia/marcar",
						data: {
							idPersona: militante.id,
							idEvento: idEventoActual,
							nombre: militante.nombres,
							paterno: militante.paterno,
							materno: militante.materno
						},
						dataType: "json",
						success: function (response) {
							//if request if made successfully then the response represent the data
							console.log('MARCA', response);
							// auxMilitantes
							$('#loader').hide();
							Materialize.toast(response.msg, 4000)
							actualizarTabla([])
							$('#carga').hide()
						}
					});
				} else {
					$('#loader').show();
					$.ajax({
						type: "POST",
						url: "/asistencia/desmarcar",
						data: {
							idAsistencia: militante.asistencia[0].id
						},
						dataType: "json",
						success: function (response) {
							//if request if made successfully then the response represent the data
							console.log('DESMARCAR', response);
							// auxMilitantes
							Materialize.toast(response.msg, 4000)

							$('#loader').hide();
							actualizarTabla([])
							$('#carga').hide()
						}
					});
				}

			});
		}, this);
	}

	function listaCargos(listaCargos) {
		$('#tablaCargos').show();

		$('#tablaCargos > tbody').empty()
		listaCargos.forEach(function (cargo, index) {
			$('#tablaCargos > tbody').append('<tr id="tr' + cargo.id + '">' +
				'<td>' + (index + 1) + '</td>' +
				'<td>' + cargo.nombre + '</td>' +
				'<td>' + '<button class="waves-effect waves-light btn blue" onclick="elegirCargo('+cargo.id+')" type="button"><i class="material-icons">assignment_turned_in</i></button>' + '</td>' +
				'</tr>')

		}, this);
	}
	
	function elegirCargo(cargo) {

		console.log('CARGO', $('#tr'+cargo).children()[1].innerHTML);
		$('#inputCargo').val($('#tr'+cargo).children()[1].innerHTML)
		$('#inputIdCargo').val(cargo)
		$('#tablaCargos').hide();
		$('#chipNuevoCargo').hide()

	}

	$('#inputCargo').keyup(function () {
		var inputCargo = $('#inputCargo').val();

		if (inputCargo.length != 0) {
			$('#chipNuevoCargo').show()
			$.ajax({
				type: "POST",
				url: "/controlador/cargos",
				data: {
					cargo: $('#inputCargo').val(),
				},
				dataType: "json",
				success: function (response) {
					console.log('response Cargo',response)

					if (response.length ==0) {

						// $.ajax({
						// 	type: "POST",
						// 	url: "/cargo",
						// 	data: {
						// 		nombre: $('#inputCargo').val(),
						// 		observacion : ''
						// 	},
						// 	dataType: "json",
						// 	success: function (response) {
							
								
						// 	}
						// });
						$('#chipNuevoCargo').show()
						$('#tablaCargos').hide();
					} else {
						listaCargos(response)
					}
				}
			});
		} else {
			$('#chipNuevoCargo').hide()
			// listaCargos([])
			$('#tablaCargos').hide();

		}


	});
	
	function listaInstitucion(listaInstitucion) {
		$('#tablaInstitucion').show();

		$('#tablaInstitucion > tbody').empty()
		listaInstitucion.forEach(function (institucion, index) {
			$('#tablaInstitucion > tbody').append('<tr id="trIns' + institucion.id + '">' +
				'<td>' + (index + 1) + '</td>' +
				'<td>' + institucion.nombre + '</td>' +
				'<td>' + '<button class="waves-effect waves-light btn blue" onclick="elegirInstitucion('+institucion.id+')" type="button"><i class="material-icons">assignment_turned_in</i></button>' + '</td>' +
				'</tr>')

		}, this);
	}

	function elegirInstitucion(institucion) {

		console.log('institucion', $('#trIns'+institucion).children()[1].innerHTML);
		$('#inputInstitucion').val($('#trIns'+institucion).children()[1].innerHTML)
		$('#inputIdInstitucion').val(institucion)
		$('#tablaInstitucion').hide();
		$('#chipNuevoInstitucion').hide()

	}

	$('#inputInstitucion').keyup(function () {
		var inputInstitucion = $('#inputInstitucion').val();

		if (inputInstitucion.length != 0) {
			$('#chipNuevoInstitucion').show();
			$.ajax({
				type: "POST",
				url: "/controlador/instituciones",
				data: {
					institucion: $('#inputInstitucion').val(),
				},
				dataType: "json",
				success: function (response) {
					console.log('response Cargo',response)

					if (response.length ==0) {

						// $.ajax({
						// 	type: "POST",
						// 	url: "/cargo",
						// 	data: {
						// 		nombre: $('#inputInstitucion').val(),
						// 		observacion : ''
						// 	},
						// 	dataType: "json",
						// 	success: function (response) {
							
								
						// 	}
						// });
						$('#chipNuevoInstitucion').show();
						
						$('#tablaInstitucion').hide();
					} else {
						listaInstitucion(response)
					}
				}
			});
		} else {
			// listaInstitucion([])
			$('#tablaInstitucion').hide();
			$('#chipNuevoInstitucion').hide();

		}


	});



	function actualizarMilitante(idMilitante) {
		console.log(idMilitante)

		var militante = auxMilitantes.filter(dato => dato.id == idMilitante)
		var linea = $('#tr' + idMilitante).find('td')

		$('#inputId2').val(idMilitante)
		var auxFecha = new Date(militante[0].fecha_nacimiento)


		var dia = parseInt(auxFecha.getDate()) + 1;
		var mes = parseInt(auxFecha.getMonth()) + 1;

		console.log('Console Log:', militante)

		if (dia < 10) {
			dia = '0' + dia;
		}
		if (mes < 10) {
			mes = '0' + mes;
		}
		$('#inputNombre2').val(militante[0].nombre)
		$('#inputInstitucion2').val(militante[0].institucion)
		$('#inputCargo2').val(militante[0].cargo)
		$('#inputCedula2').val(militante[0].cedula)
		$('#inputCelular2').val(militante[0].celular)
		$('#inputDireccion2').val(militante[0].direccion)
		$('#inputSexo2').val(militante[0].sexo)
		$('#inputEmail2').val(militante[0].email)
		//$("#inputSexo option[value='O']").attr('selected', 'selected');

		// $('#inputSexo option[value='+militante[0].sexo+']').prop('selected','selected');

		//$('#inputSexo option:contains(' + militante[0].sexo + ')').prop({selected: true});
		$('#inputfecha_nacimiento2').val(auxFecha.getFullYear() + '-' + mes + '-' + dia)
		console.log('FECHA:', auxFecha.getFullYear() + '-' + auxFecha.getMonth() + '-' + auxFecha.getDate())

		$('#inputRem2').val(militante[0].remplazo)
		$('#inputCedulaRem2').val(militante[0].ci_remplazo)
		$('#modal1').openModal();
	};
	var idMilitante = 0;

	$('#btnAddMilitante').click(function (params) {
		$('#modal2').openModal();

	})

	// actualizarTabla(auxMilitantes);
	$('#inputBuscar').keyup(function (event) {
		var auxBuscar = $('#inputBuscar').val()

		console.log('AUXBUSCAR:', auxBuscar)
		// $.post("/controlador/buscarMilitante", { nombre: auxBuscar })
		// .done(function( data ) {
		//     console.log(data)
		// });
		if (auxBuscar.length != 0) {

			if (auxBuscar.length > 4) {

				$.ajax({
					type: "POST",
					url: "/controlador/buscarMilitante",
					data: {
						nombre: auxBuscar
					},
					dataType: "json",
					success: function (response) {
						//if request if made successfully then the response represent the data
						console.log(response)
						actualizarTabla(response)
						auxMilitantes = response;
					}
				});
			}
		} else {
			actualizarTabla([])
		}
	})

	$('#btnBuscarCi').click(function (event) {
		var ci = $('#inputBuscarCi').val()
		$('#loader').show();

		console.log('ci CI:', ci)
		// $.post("/controlador/buscarMilitante", { nombre: ci })
		// .done(function( data ) {
		//     console.log(data)
		// });
		if (ci.length != 0) {

			if (ci.length > 4) {

				$.ajax({
					type: "POST",
					url: "/controlador/buscarMilitanteCi",
					data: {
						ci: ci,
						idEvento: idEventoActual
					},
					dataType: "json",
					success: function (response) {
						$('#loader').hide();

						//if request if made successfully then the response represent the data
						console.log(response)
						actualizarTabla(response)
						auxMilitantes = response;
					}
				});
			}
		} else {
			actualizarTabla([])
		}
	})

	$('#btnEncontrado').click(function () {
		$('#carga').show()
		var form = $('#formNuevo').serialize()

		if (idMilitante != 0) {

			form += '&sexo=' + $('#inputSexo').val();
			form += '&asistencia=true'
			console.log(form)
			$.ajax({
				type: "PATCH",
				url: "/militante/" + idMilitante,
				data: form,
				dataType: "json",
				success: function (response) {
					//if request if made successfully then the response represent the data
					// console.log(response);
					// auxMilitantes
					location.reload();

				}
			});
		}

	})


	$('#btnActualizar').click(function () {
		$('#carga').show()
		var form = $('#formActualizar').serialize()
		var id = $('#formActualizar').serializeArray()

		form += '&sexo=' + $('#inputSexo').val();
		console.log(form)
		$.ajax({
			type: "PATCH",
			url: "/militante/" + id[0].value,
			data: form,
			dataType: "json",
			success: function (response) {
				//if request if made successfully then the response represent the data
				// console.log(response);
				// auxMilitantes
				location.reload();

				$('.modal').closeModal();
				$('#carga').hide()
			}
		});

	})


	$('#btnReporteExcel').click(function () {

		var actualEvento = auxEventos.filter(dato => dato.id == idEventoActual)

		$.ajax({
			type: "POST",
			url: "/asistencia/reporte_excel",
			data: {
				nombreEvento: actualEvento[0].nombre,
				idEvento: idEventoActual

			},
			dataType: "json",
			success: function (data, status, xhr) {

				window.URL.revokeObjectURL(url);

			}
		});
	});


</script>