<h1>Show controla</h1>

	<p>
		<strong>createdAt:</strong>
		<%= element.createdAt %>
	</p>
	<p>
		<strong>updatedAt:</strong>
		<%= element.updatedAt %>
	</p>
	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>
	<p>
		<strong>idUsuario:</strong>
		<%= element.idUsuario %>
	</p>
	<p>
		<strong>idEvento:</strong>
		<%= element.idEvento %>
	</p>

<br>
<a href="/controla/edit/<%= element.id %>">Edit</a>
<a href="/controla/create">New</a>
<a href="/controla">Back</a>
